#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.stars {
  font-size: 36px;
  cursor: pointer;
}

.star {
  color: #EEEDE4;
}

.star.selected {
  color: #FFD60A;
  filter: drop-shadow(2px 2px 1em #FFD60AFF);
}

.bold {
	font-weight: bold;
}

.input-field {
	color: #333;
	background-color: #EEEDE4;
	padding: 10px;
	margin: 10px;
	margin-top: 20px;
	border-radius: 6px;
	border-width: 0px;
}

.submit-button {
	color: #EEEDE4;
	background-color: #FFA5AB;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	margin: 10px;
	border-radius: 6px;
	border-width: 0px;
}
